* text=auto

# Enforce Unix newlines
*.cjs         text eol=lf
*.js          text eol=lf
*.jsx         text eol=lf
*.json        text eol=lf
*.markdown    text eol=lf
*.md          text eol=lf
*.mjs         text eol=lf
*.ts          text eol=lf
*.tsx         text eol=lf
